<div class="bjui-pageContent">
    <form action="__URL__/edit/navTabId/AuthGroup" class="pageForm" data-toggle="validate">
		<input type="hidden" name="id" value="{$info.id}">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-condensed table-hover" width="100%">
           <tbody>
            <tr><td>
                <label for="j_title" class="control-label x85">用户组名称：</label>
                <input type="text" data-rule="required" size="30" name="title" id="j_title" value="{$info.title}" >
            </td></tr>
            <tr><td>
                <label for="j_status" class="control-label x85">是否启用：</label>
               <select name="status"  data-container="body"  id="j_status" data-toggle="selectpicker" data-rule="required">
                <option value="1" <if condition="$info['status'] EQ 1 ">selected</if>>启用</option>
                <option value="0" <if condition="$info['status'] EQ '0'">selected</if>>禁用</option>
                 </select>
             </td></tr>

              <tr><td>
                <label for="j_sort" class="control-label x85">排序：</label>
                <input type="text"  size="5" data-toggle="spinner" data-min="0" data-max="100" data-step="1" data-rule="integer" name="sort" id="j_sort" value="{$info.sort}" >
            </td></tr>
            </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
        <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>
			
			